<html lang="es"><head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../assets/escudocentral.png">
	<title>EncanallAr-Contacto</title>
  <link rel="stylesheet" href="../archivo.css"/>
</head>
<Body class="contacto">
  <header>
    <nav>
        <ul>
          <li><a href="../index.html">Home</a></li>
				<li><a href="../views/quiensomos.html">quien somos</a></li>
				<li><a href="../views/proyecto.html">proyecto</a></li>
				<li><a href="../views/productos.html">productos</a></li>
				<li><a href="../views/contacto.html">contacto</a></li>
				<li><a href="https://www.google.com" target="_blank">Ir a GOOGLE</a></li>

        <H1 class="contact">CONTACTO</H1>
        </ul>	
    </nav>
  </Header>
  <section class="formularios">
    <form action="#">
        <input type="text" name="nombre" id="nombres" placeholder="nombre"> <br>
        <input type="text" name="apellido" id="apellidos" placeholder="apellido"> <br>
        <input type="email" name="correo" id="email" placeholder="correo"> <br>
        <input type="password" name="contraseña" id="contraseña" placeholder="contraseña"><br>
        <samp>select</samp>
        <select name="select" id="select">
        <option>value="hombre"</option>
        <option>value="mujer"</option>
        <option>value="otro"</option>
        </select><br>
        <fontfont style="vertical-align: inherit;"> </fontfont style="vertical-align: inherit;"> quieres recibir notificaciones?
        <input type="checkbox" name="ok" value="1"> <br>
        <textarea placeholder="extras (opcional)"></textarea> <br>
        <input type="submit" value="registrar">
        <input type="reset" value="resetear">
    </form>
  </section>

  <footer id="pepe">
    <h3>INSTAGRAM: @encanallar Tienda</h3>
    <h3>YOU TUBE: Encanallar</h3>
    <h3>TELEFONO: 3416784589</h3>
</footer>

</body>