<html lang="es"><head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../assets/escudocentral.png">
	<title>EncanallAr-Productos</title>
    <link rel="stylesheet" href="../archivo.css"/>
    <head>
        <body class="paginaproductos">
            <header>
                <nav>
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="../views/quiensomos.html">quien somos</a></li>
                        <li><a href="../views/proyecto.html">proyecto</a></li>
                        <li><a href="../views/productos.html">productos</a></li>
                        <li><a href="../views/contacto.html">contacto</a></li>
                        <li><a href="https://www.google.com" target="_blank">Ir a GOOGLE</a></li>
                    </ul>	
                </nav>

                <h1 class="titulopr">PRODUCTOS</h1>
                <section>
                    <article>
                        <table border="1" cellpadding="1" cellspacing="1">
                            <tbody><tr>
                                <th>nombre</th>
                                <th>fecha</th>
                                <th>talles</th>
                                <th>precio</th>
                            </tr>
                            <tr>
                                <td>aldo pedro poy</td>
                                <td>19/12/1971</td>
                                <td>S/M/L/XL</td>
                                <td>$2071</td>
                            </tr>
                        </tbody>
                    </table>
                    </article>
                </section>
                <nav>
                    <ul>
                        <li>remera aldo pedro poy <br> <img src="../assets/poy.png" alt="remerade poy"> </li><br>

                        <section>
                            <article>
                                <table border="1" cellpadding="1" cellspacing="1">
                                    <tbody><tr>
                                        <th>nombre</th>
                                        <th>fecha</th>
                                        <th>talles</th>
                                        <th>precio</th>
                                    </tr>
                                    <tr>
                                        <td>pirulazo</td>
                                        <td>29/08/2005</td>
                                        <td>S/M/L/XL</td>
                                        <td>$2005</td>
                                    </tr>
                                </tbody>
                            </table>
                            </article>
                        </section>

                        <li>remera pirulazo <br> <img src="../assets/remerapirulazo.png" alt="remera pirulazo"> </li> 
                    </ul>
                </nav>






            </header>
      
            <footer id="pepe">
                <h3>INSTAGRAM: @encanallar Tienda</h3>
                <h3>YOU TUBE: Encanallar</h3>
                <h3>TELEFONO: 3416784589</h3>
            </footer>

        </body>
    </head>