<html lang="es"><head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../assets/escudocentral.png">
	<title>EncanallAr-Proyecto</title>
     <link rel="stylesheet" href="../archivo.css"/>
    
</head>
<body class="proyecto">
	<nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../views/quiensomos.html">quien somos</a></li>
            <li><a href="../views/proyecto.html">proyecto</a></li>
            <li><a href="../views/productos.html">productos</a></li>
            <li><a href="../views/contacto.html">contacto</a></li>
            <li><a href="https://www.google.com" target="_blank">Ir a GOOGLE</a></li>
        </ul>	
    </nav>
    <header class="propuestas">
        <h1 class="titulop">PROYECTO</h1> 

         <p class="motivos">
             detras de todo esto hay un gran proyecto con una gran ilusion, no es facil pero como 
             todos los canallas sabemos, nada es imposible, ya nos lo han demostrado a lo largo de <br>
             nustra historia con esas hazañas sin par como bien dice nuestra marcha que los guerreros 
             podemos con todo. es imposible describir todo lo que sentimos los centralistas por el <br>
             glorioso Rosario Central pero si nos encanta llevarlo en todos lados y mostras orgullosos 
             que somos bien canallas por esto nosotros desde nuestro lado queremos ayudar a esta <br>
             hermosa locura a la que estamos atados y que todos desde su lugar puedan llevarlo y 
             demostrarlo, por eso tenemos el siguiente proyecto

             <nav>
                 <ul>
                    <li>VENTA DE ROPA</li>
                    <Li>ENCANALLAR</Li>
                    <li>COLECTA DE CAMISETAS</li>
                    <li>ENVIOS A OTRAS PROVINCIAS</li>
                    <Li>RECIBIMIENTOS</Li>
                    <Li>PINTURAS</Li>
                    <Li>BANDERAS</Li>
                    <Li>PEÑAS</Li>
                    <Li>VIAJES</Li>
                    <Li>CARTELES</Li>
                    <Li>HISTORIA CANALLA</Li>
                    <Li>COMIDAS</Li>
                    <li>CELEBRACIONES</li>
                 </ul>
             </nav>
          
        </p>

        
        
    </header> 

    <footer id="pepe">
        <h3>INSTAGRAM: @encanallar Tienda</h3>
        <h3>YOU TUBE: Encanallar</h3>
        <h3>TELEFONO: 3416784589</h3>
    </footer>

</body>