<html lang="es"><head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../assets/escudocentral.png">
	<title>EncanallAr-Quien somos</title>
    <link rel="stylesheet" href="../archivo.css"/>
</head>
<body class="quiensomos">

    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../views/quiensomos.html">quien somos</a></li>
            <li><a href="../views/proyecto.html">proyecto</a></li>
            <li><a href="../views/productos.html">productos</a></li>
            <li><a href="../views/contacto.html">contacto</a></li>
            <li><a href="https://www.google.com" target="_blank">Ir a GOOGLE</a></li>
        </ul>	
    </nav>

	<header class="presentacion">
		<h1 class="tituloq">QUIEN SOMOS?</h1> 

        <p class="presentacion">somos EncanallAr una pagina destinada a la venta de indumentaria de rosario central,
         detras de todo esto estamos un grupo de amigos fanaticos por el club quienes nos encargamos 
         desde el diseño de la ropa hasta la produccion <br> en todos nuestros productos van a 
         encontrar una referencia hacia algo o alguien del club y de esta manera poder tener algo 
         de nuestros idolos, y tambien conocer mas sobre otros. cada remera va a tener una historia 
         o video <br> para mostrar lo que quisimos representar en cada una de ellas. <br> 

          <img src="../assets/logoencanallar.png" alt="logo encanallar">
        
        </p>
    <header>
        <footer id="pepe">
            <h3>INSTAGRAM: @encanallar Tienda</h3>
            <h3>YOU TUBE: Encanallar</h3>
            <h3>TELEFONO: 3416784589</h3>
        </footer>
</body>